body{
    padding: 0;
    margin: 0;
}
.existing-entries{
    height: 45vh;
    overflow-y: auto;
}

.existing-entries .entry{
    padding: 10px 20px;
    background: aliceblue;
    border-radius: 7px;
    margin-bottom: 10px;

}

.existing-entries .entry:hover{
    background: rgb(200, 225, 247);
}

.entry-add-btn{
    width: 12rem;
}

.alert-message{
    background-color:#ffc107;
}

.entry-del-btn{
    cursor: pointer;
    padding: 0 10px;
    color:red;
    border-color: red;
}

.entry-del-btn:hover{
    background: antiquewhite;
}

.ent-date{
    opacity: 0.7;
    font-size: 11px;
    font-style: italic;
}

@media (min-width: 768px) {

    .existing-entries .entry{
        padding: 10px !important;
    }

    .dropdown.dropdown-menu-end[data-bs-popper] {
        left: 0 !important;
        right: auto;
    }
}